* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
    color: #333;
    line-height: 1.6;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    color: rgb(7, 5, 5);
    display: flex;
    justify-content: space-between; /* espaço entre os elementos */
    align-items: center;
    padding: 16px 32px;
    z-index: 999;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

nav .logo {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    
}

nav ul li a:hover {
    color: #f50000;
}

nav a img {
    display: block;
    height: auto;
    max-height: 50px;
}

header {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Torcida_do_inter_antes_do_jogo_pela_copa_libertadores_da_America_fazendo_a_festa_em_torno_do_estadio_beira_rio_em_porto_alegre_02.jpg/1200px-Torcida_do_inter_antes_do_jogo_pela_copa_libertadores_da_America_fazendo_a_festa_em_torno_do_estadio_beira_rio_em_porto_alegre_02.jpg') 
    no-repeat center center/cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    padding: 0 16px;
    padding-bottom: 240px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    max-width: 700px;
    line-height: 1.2;
    animation: fadeInDown 1.5s ease forwards;
    text-align: center;

}
#menu {
  list-style: none;
  display: flex;
  gap: 32px;
}

#menu li {
  position: relative;
}

#menu li a {
  text-decoration: none;
  color: rgb(2, 0, 0);
  font-weight: 600;
  padding: 8px 12px;
  display: block;
  cursor: pointer;
}

#menu li a:hover {
  color: #fd0404;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1000;
  top: 100%;
  left: 0;
  border-radius: 4px;
}


.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f4f4f4;
}


.dropdown:hover .dropdown-content {
  display: block;
}
    

